/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://i.pinimg.com/474x/54/71/6a/54716a3848c6fbfb5770d4831803532b.jpg);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    width: 90%;
    max-width: 600px;
    background-image: url(https://i.pinimg.com/736x/66/62/b1/6662b1cf5a863ef75ccb10617bbc83c2.jpg);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    color: #333;
}

header {
    background: #0c551dd3;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 1.8rem;
}

#timer {
    font-size: 1rem;
    margin-top: 10px;
}

main {
    padding: 20px;
    text-align: center;
}

#question-container {
    margin-bottom: 20px;
}

#question-text {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

#options-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option {
    background: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 1.1rem;
}

.option:hover {
    background: #0077ff;
    color: white;
    border-color: #005bb5;
}

.option.selected {
    background: #1a237e;
    color: white;
}

.button-group {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #1a237e;
    color: white;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.btn:hover:not(:disabled) {
    background: #3949ab;
}

footer {
    padding: 20px;
    text-align: center;
    display: none;
}

footer h2 {
    font-size: 1.8rem;
    color: #1a237e;
}

footer p {
    font-size: 1.2rem;
}

.hidden {
    display: none;
}
